[submodule "framework/lib/glfw"]
	path = framework/lib/glfw
	url = git@github.com:glfw/glfw.git
[submodule "framework/lib/glm"]
	path = framework/lib/glm
	url = git@github.com:g-truc/glm.git
[submodule "framework/lib/shaderc"]
	path = framework/lib/shaderc
	url = git@github.com:google/shaderc.git
