[submodule "framework/lib/glfw"]
	path = framework/lib/glfw
	url = git@github.com:glfw/glfw.git
[submodule "framework/lib/glm"]
	path = framework/lib/glm
	url = git@github.com:g-truc/glm.git
[submodule "framework/lib/shaderc"]
	path = framework/lib/shaderc
	url = git@github.com:google/shaderc.git
[submodule "framework/lib/assimp"]
	path = framework/lib/assimp
	url = git@github.com:assimp/assimp.git
[submodule "framework/lib/utils"]
	path = framework/lib/utils
	url = git@github.com:sevanetrebchenko/utils.git
[submodule "framework/lib/spirv-reflect"]
	path = framework/lib/spirv-reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
